* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	line-height: 1;
	color: white;
	/* background-image: green, linear-gradient(red, blue); */
	background-image: linear-gradient(
			to right bottom,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		),
		url("imgs/background.jpg");
	background-size: cover;
}
.container {
	margin: 5rem 0;
	display: flex;
	flex-direction: column;
	gap: 5rem;
	align-items: center;
}
.players-box {
	display: flex;
	gap: 5rem;
}
label {
	font-size: 1.8rem;
	font-weight: 600;
}
input[type="text"] {
	padding: 0.2rem;
	font-size: 1.8rem;
	color: blue;
	border-color: blue;
	margin-left: 1rem;
	width: 15rem;
}
input[type="text"]::placeholder {
	color: blue;
	opacity: 0.5;
}
.game-box {
	display: none;
}
.game-display {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: center;
}
.imgs {
	width: 7rem;
	height: 7rem;
	visibility: hidden;
}
.imgs[src] {
	visibility: visible;
}
.img-box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 7.4rem;
	height: 7.4rem;
	border-top: 3px solid blue;
	border-left: 3px solid blue;
	border-collapse: collapse;
}
.img-box:nth-child(7),
.img-box:nth-child(8),
.img-box:nth-child(9) {
	border-bottom: 3px solid blue;
}
.img-box:nth-child(3),
.img-box:nth-child(6),
.img-box:nth-child(9) {
	border-right: 3px solid blue;
}
.symbol {
	width: 2rem;
	height: 2rem;
}
input[type="radio"] {
	margin-left: 1.2rem;
	margin-right: 0.3rem;
}
.symbol-box {
	display: flex;
	align-items: center;
}
.player-box {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.game-info {
	font-size: 3.2rem;
	font-weight: 600;
}
.btn {
	font-size: 1.6rem;
	padding: 0.7rem 1.4rem;
	border-radius: 9px;
	border: none;
	color: white;
}
.start-game {
	background-color: blue;
}
.start-game:hover {
	background-color: darkblue;
}
.new-game {
	display: none;
	background-color: green;
}
.new-game:hover {
	background-color: darkgreen;
}
.mode-box {
	align-self: end;
	margin-right: 4rem;
}
.mode-box label {
	margin-right: 1rem;
}
